<ion-content [fullscreen]="true" >

  <ion-header >    
    <ion-toolbar color="azulduoc">   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>   
      <ion-text>       
        <div style="padding-left: 80px;">
          Te<ion-text color="amarilloduoc" style="font-weight: bolder;" >Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>

  <ion-card >
    <ion-card-header>
      <ion-icon color="amarilloduoc" name="lock-closed" style="width: 300px; transform: scale(250%); "></ion-icon>
      <ion-card-title color="azulduoc" style="font-weight: bold; font-size: 30px;">{{"changePassword.label.header" | translate}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="passwordForm">
        <ion-item>
          <ion-input formControlName="currentPassword" type="password" color="azulduoc" label="{{'changePassword.label.currentPassword' | translate}}" labelPlacement="floating" ></ion-input>          
        </ion-item>

        <ion-item >
          <ion-input formControlName="newPassword" type="password" color="azulduoc" label="{{'changePassword.label.newPassword' | translate}}" labelPlacement="floating" ></ion-input>          
        </ion-item>
        <ion-text color="danger" *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
          {{"changePassword.label.minLengthPassword" | translate}}
        </ion-text>

        <ion-item >
          <ion-input formControlName="newPassword2" type="password" color="azulduoc" label="{{'changePassword.label.newPassword2' | translate}}" labelPlacement="floating" ></ion-input>          
        </ion-item>
        <ion-text color="danger" *ngIf="passwordForm.get('newPassword2')?.value !== passwordForm.get('newPassword')?.value">
          {{"changePassword.label.matchPassword" | translate}}
        </ion-text>
        <ion-item class="space"> 
          <ion-button color="azulduoc" type="submit" expand="block" (click)="changePassword()">
            <ion-text color="amarilloduoc" >
              {{"changePassword.button.submit" | translate}}
            </ion-text>
          </ion-button>
        </ion-item> 

      </form>
        
    </ion-card-content>
  </ion-card>
    
  
</ion-content>