<ion-content [fullscreen]="true" >

  <ion-header >    
    <ion-toolbar color="azulduoc">   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
      </ion-buttons>   
      <ion-text>       
        <div style="padding-left: 80px;">
          Te<ion-text color="amarilloduoc" style="font-weight: bolder;" >Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>

  <ion-card >
    <ion-card-header>
      <ion-icon color="amarilloduoc" name="lock-closed" style="width: 300px; transform: scale(250%); "></ion-icon>
      <ion-card-title color="azulduoc" style="font-weight: bold; font-size: 30px;"> Cambiar Contraseña</ion-card-title>
    </ion-card-header>
  
<!--Primero se debe confirmar con la contraseña actual-->

    <ion-card-content>
      <form >
        <ion-item>
          <ion-input type="password" color="azulduoc" label="Ingresa tu contraseña actual:" labelPlacement="floating" ></ion-input>          
        </ion-item>
        
        <ion-item lines="none">
          <ion-text color="danger" class="form-error">
            Ingresa tu contraseña actual para validar que eres tu.
          </ion-text>
        </ion-item>

        <ion-button color="azulduoc" type="submit" expand="block">
          <ion-text color="amarilloduoc" >
            Confirmar            
          </ion-text>
        </ion-button>

        <!--Cuando se valide se habilitara la segunda zona-->

        <ion-item >
          <ion-input type="password" color="azulduoc" label="Ingresa tu nueva contraseña:" labelPlacement="floating" ></ion-input>          
        </ion-item>

        <ion-item >
          <ion-input type="password" color="azulduoc" label="Confirma la nueva contraseña:" labelPlacement="floating" ></ion-input>          
        </ion-item>
        <!--hacer una funcion que habilite este mensaje si las pass no coinciden-->
        <ion-item lines="none" >
          <ion-text color="danger" class="form-error">Las contraseñas no coinciden</ion-text>
        </ion-item>

        <ion-button color="azulduoc" type="submit" expand="block">
          <ion-text color="amarilloduoc" >
            Cambiar mi contraseña            
          </ion-text>
        </ion-button>

      </form>
        
    </ion-card-content>
  </ion-card>
    
  
</ion-content>