<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar color="azulduoc">  
        <ion-menu-button slot="start"> </ion-menu-button>   
        <ion-title color="amarilloduoc" style="font-weight: bolder;" >{{ "startTrip.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!hasPermission">
    <p *ngIf="!permissionDenied">Please grant camera permission to scan QR codes.</p>
    <p *ngIf="permissionDenied">Camera permission denied. Please grant permission and reload the page.</p>
    <button *ngIf="!permissionDenied" (click)="requestCameraPermission()">Grant Permission</button>
  </div>
  <div *ngIf="hasPermission">
    <video #videoElement style="width: 100%; height: auto;"></video>
  </div>
</ion-content>
