<ion-content [fullscreen]="true">

  <ion-header >
    <ion-toolbar color="azulduoc">
      <ion-text>        
        <div class="ion-text-center style-h-text">
          Te<ion-text color="amarilloduoc">Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>

  
  <ion-card class="adjustCard">    
    <ion-card-header style="padding-left: 60px; transform: scale(150%);">       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> <ion-icon color="amarilloduoc" name="enter-outline" style="transform: scale(150%); " ></ion-icon> PANIK ZONE</ion-text>
    </ion-card-header> 

    <ion-button color="azulduoc" (click)="generateRandomUsers()">
      <ion-text color="amarilloduoc">
        Its raining users...ALELULLAH
      </ion-text>
    </ion-button>

  </ion-card>