<ion-content [fullscreen]="true">
  
  <ion-header >
    <ion-toolbar color="azulduoc">  
        <ion-menu-button  slot="start"> </ion-menu-button>   
        <div style="margin-left: 110px;  font-size: 20px;;"> 
          <ion-text> Mi Perfil </ion-text>            
        </div>
        <ion-note style="padding-left: 90px;">*algo escrito aqui*</ion-note>
        
        <ion-button color="azulduoc" slot="end" (click)="openSettingsMenu()">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-toolbar>


  </ion-header>
    
</ion-content>
