<ion-content [fullscreen]="true">

  <ion-header >    
    <ion-toolbar color="azulduoc">   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>   
      <ion-text>       
        <div class="ion-text-center style-h-text">
          Te<ion-text color="amarilloduoc" style="font-weight: bolder;" >Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>
    
  <ion-card >    
    <ion-card-header >       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> 
        <ion-icon name="person-add-outline" style="padding-right: 5%;"></ion-icon>
        Registro
      </ion-text>      
    </ion-card-header> 
  
    <ion-card-content>
      <form >
        <ion-item >
          <ion-input  labelPlacement="floating" placeholder="Carlitos Lechuga">
            <div slot="label">Nombre <ion-text color="danger">(Obligatorio)</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input  labelPlacement="floating" placeholder="nosequehago@ayuda.cl">
            <div slot="label">Email <ion-text color="danger">(Obligatorio)</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input  type="password" labelPlacement="floating" placeholder="********">
            <div slot="label">Contraseña <ion-text color="danger">(Obligatorio)</ion-text></div>
          </ion-input>
        </ion-item>   

        <ion-item>
          <ion-input type="password" labelPlacement="floating" placeholder="********">
            <div slot="label">Confirme Contraseña <ion-text color="danger">(Obligatorio)</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-text color="danger" >
          ¡Las contraseñas no coinciden!
        </ion-text>

        <ion-list>
          <ion-item>
            <ion-select labelPlacement="floating" placeholder="Sede" cancel-text="Cancelar">
              <div slot="label">Selecciona tu sede <ion-text color="danger">(Obligatorio)</ion-text></div>
              <ion-select-option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
        <ion-item>
          <ion-radio-group [allowEmptySelection]="true" value="false">
            <ion-radio value="true">SocioConductor</ion-radio><br />
          </ion-radio-group>
        </ion-item>
        
        <ng-container></ng-container>

          <ng-template #con>
            <div>
              <ion-item>
                <ion-input  type="text" color="azulduoc" label="Ingrese Licencia:" labelPlacement="floating" placeholder="Ej: https://prnt.sc/9wCZWZEKfYNC"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" color="azulduoc" label="Ingrese Patente:" labelPlacement="floating" placeholder="Ej: KVR-041"></ion-input>
              </ion-item>
              <ion-button color="azulduoc" >Registrarse</ion-button>
            </div>
          </ng-template>
          
          <ng-template #sin>
            <div>
              <ion-button color="azulduoc">Registrarse</ion-button>
            </div>
          </ng-template>
          
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
  