<ion-content [fullscreen]="true">

  <ion-header >    
    <ion-toolbar color="azulduoc">   
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>   
      <ion-text>       
        <div style="padding-left: 40px;">
          Te<ion-text color="amarilloduoc" style="font-weight: bolder;" >Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>
    
  <ion-card >          
    <ion-card-header style="padding-left: 65px; transform: scale(100%);">       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> <ion-icon color="amarilloduoc" name="person-add-outline" style="transform: scale(150%); " ></ion-icon> {{"register.label.header" | translate}}</ion-text>
    </ion-card-header> 
  
    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-item >
          <ion-input formControlName="name" labelPlacement="floating" placeholder="{{'register.placeholder.name' | translate}}">
            <div slot="label">{{"register.label.name" | translate}}<ion-text color="danger"> ({{"register.label.required" | translate}})</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="email" labelPlacement="floating" placeholder="{{'register.placeholder.email' | translate}}">
            <div slot="label">{{"register.label.email" | translate}}<ion-text color="danger"> ({{"register.label.required" | translate}})</ion-text></div>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input formControlName="password" type="password" labelPlacement="floating" placeholder="********">
            <div slot="label">{{"register.label.password" | translate}}<ion-text color="danger"> ({{"register.label.required" | translate}})</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('password')?.hasError('minlength')">
          {{"register.label.minLengthPassword" | translate}}
        </ion-text>

        <ion-item>
          <ion-input formControlName="password2" type="password" labelPlacement="floating" placeholder="********">
            <div slot="label">{{"register.label.password2" | translate}}<ion-text color="danger"> ({{"register.label.required" | translate}})</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="registerForm.get('password')?.value !== registerForm.get('password2')?.value">
          {{"register.label.matchPassword" | translate}}
        </ion-text>

        <ion-list>
          <ion-item>
            <ion-select formControlName="location" labelPlacement="floating" placeholder="{{'register.placeholder.location' | translate}}" cancel-text="Cancelar">
              <div slot="label">{{"register.label.location" | translate}}<ion-text color="danger"> ({{"register.label.required" | translate}})</ion-text></div>
              <ion-select-option *ngFor="let location of locations" [value]="location.name">{{ location.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-radio-group formControlName="partner" [allowEmptySelection]=true value=false>
            <ion-radio value=true>{{"register.label.partner" | translate}}</ion-radio><br />
          </ion-radio-group>
        </ion-item>
        
        <ng-container *ngIf="registerForm.get('partner')?.value === 'true'; then con; else sin"></ng-container>

          <ng-template #con>
            <div>
              <ion-item>
                <ion-input formControlName="licence" required="false" type="text" color="azulduoc" label="{{'register.label.licence' | translate}}" labelPlacement="floating" placeholder="Ej: https://prnt.sc/9wCZWZEKfYNC"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="plate" required="false" type="text" color="azulduoc" label="{{'register.label.plate' | translate}}" labelPlacement="floating" placeholder="Ej: KVR-041"></ion-input>
              </ion-item>
              <ion-button color="azulduoc" (click)="register()">{{"register.button.singUp" | translate}}</ion-button>
            </div>
          </ng-template>
          
          <ng-template #sin>
            <div>
              <ion-button style="padding-left: 80px ; padding-top: 15px; padding-bottom: 15px;" color="azulduoc" (click)="register()">
                <ion-text color="amarilloduoc">
                  {{"register.button.singUp" | translate}}
                </ion-text>
              </ion-button>
            </div>
          </ng-template>

          <ion-text class="extra-options" style="padding-left: 40px;">
            {{"register.label.alreadySingedUp" | translate}}
            <a [routerLink]="['/login']" >{{"register.link.singIn" | translate}}</a>
          </ion-text>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>