<ion-content [fullscreen]="true">
  
  <ion-header >
    <ion-toolbar color="azulduoc">  
        <ion-menu-button slot="start"> </ion-menu-button>   
        <div style="margin-left: 90px;"> 
          <ion-text ><div>Te<ion-text color="amarilloduoc">Llevo</ion-text>App</div></ion-text>  
        </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/imgs/weather.png" />
    <ion-card-header *ngIf="weather">
      <ion-card-title>{{ "weather.title" | translate }}</ion-card-title>
      <ion-card-subtitle>{{ "weather.temperature" | translate }} {{ weather.current.temperature_2m }} {{ weather.current_units.temperature_2m }}</ion-card-subtitle>
      <ion-card-subtitle>{{ "weather.wind" | translate }} {{ weather.current.wind_speed_10m }} {{ weather.current_units.wind_speed_10m }}</ion-card-subtitle>
      <ion-card-subtitle>{{ "weather.humidity" | translate }} {{ weather.current.relative_humidity_2m }} {{ weather.current_units.relative_humidity_2m }}</ion-card-subtitle>
      <ion-card-subtitle>{{ "weather.lastUpdate" | translate }} {{ weather.current.time }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>