<ion-content [fullscreen]="true">

  <ion-header >
    <ion-toolbar color="azulduoc">
      <ion-text>        
        <div class="ion-text-center style-h-text">
          Te<ion-text color="amarilloduoc">Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>
  
  <ion-card >    
    <ion-card-header >       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> <ion-icon name="enter-outline"></ion-icon> Login</ion-text>
    </ion-card-header> 
      <form [formGroup]="loginForm">      
        <ion-item>
          <ion-input #user formControlName="email" type="text" color="azulduoc" label="Ingrese email de Usuario:" labelPlacement="floating" placeholder="Ej: jefeyapague@porfavor@porfis.aaa"></ion-input>
        </ion-item>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
          El correo es obligatorio.
        </ion-text>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
          El correo es inválido.
        </ion-text>

        <ion-item>
          <ion-input #password formControlName="password" type="password" color="azulduoc" label="Ingrese Contraseña:" labelPlacement="floating" placeholder="Ej: Quierodormir123"></ion-input>
        </ion-item>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
          La contraseña es obligatoria.
        </ion-text>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
          La contraseña debe tener almenos 6 caracteres.
        </ion-text>

        <ion-button color="azulduoc" (click)="login()" [disabled]="!loginForm.valid">Ingresar</ion-button>
        <ion-button color="azulduoc" (click)="goToRegister()">Registrarse</ion-button>
        <br>
        <ion-text color="amarilloduoc" style="font-size: 12px;font-weight: bolder;" >Recuperar contraseña</ion-text>
      </form>    
    </ion-card>

</ion-content>