<ion-content [fullscreen]="true">

  <ion-header >
    <ion-toolbar color="azulduoc">
      <ion-text>        
        <div class="ion-text-center style-h-text">
          Te<ion-text color="amarilloduoc">Llevo</ion-text>App
        </div>
      </ion-text>         
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="adjustCard">    
    <ion-card-header >       
      <ion-text color="azulduoc" style="font-weight: bold; font-size: 30px;"> <ion-icon color="amarilloduoc" name="enter-outline" ></ion-icon> Login</ion-text>
    </ion-card-header> 
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-input #user [(ngModel)]="emailValue" formControlName="email" color="azulduoc" label="Ingrese email de Usuario:" labelPlacement="floating" placeholder="Ej: jefeyapague@porfavor@porfis.aaa"></ion-input>
        </ion-item>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
          El correo es obligatorio.
        </ion-text>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
          El correo es inválido.
        </ion-text>

        <ion-item>
          <ion-input #password [(ngModel)]="passwordValue" formControlName="password" type="password" color="azulduoc" label="Ingrese Contraseña:" labelPlacement="floating" placeholder="Ej: Quierodormir123"></ion-input>
        </ion-item>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
          La contraseña es obligatoria.
        </ion-text>
        <ion-text pasition="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
          La contraseña debe tener almenos 6 caracteres.
        </ion-text>
        <ion-item class="space">
          <ion-button color="azulduoc" (click)="login()" [disabled]="!loginForm.valid">Ingresar</ion-button>
          <ion-button color="azulduoc" (click)="goToRegister()">Registrarse</ion-button>
        </ion-item>  
        
        <ion-text class="extra-options" style="padding-left: 20px;">
          Olvidaste la contraseña?
          <a [routerLink]="['/forgot-password']" >Recuperar contraseña</a>
        </ion-text>
      </form>    
    </ion-card>

</ion-content>