<ion-header>
  <ion-toolbar color="azulduoc">
    <ion-title color="amarilloduoc" style="margin-left: 15%;">{{ "terms.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ion-item>
    <ion-note> {{"Lenguaje" | translate}} </ion-note>
    <ion-select cancelText="Cancel" [(ngModel)]="language" placeholder="{{ 'Seleccione un idioma' | translate }}" (ionChange)="changeLang($event)">
      <ion-select-option *ngFor="let lang of langs">{{ lang }}</ion-select-option>
    </ion-select>
  </ion-item>
  <p [innerHTML]="'terms.text' | translate">{{ "terms.text" | translate }}</p>
  <ion-button expand="full" (click)="acceptTerms()" color="success">{{ "terms.button.accept" | translate }}</ion-button>
  <ion-button expand="full" (click)="dismiss()" color="danger">{{ "terms.button.reject" | translate }}</ion-button>
</ion-content>
